h1 {
    font-weight: 700;
}

.right_body .main {
    overflow: hidden;
}

.show_title {
    margin: 12px 20px;
    position: relative;
    overflow: hidden;
}

.main .right_title {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.show_container {
    margin: 20px 20px;
    overflow: hidden;
}

.show_container .icon-remove {
    margin-left: 5px;
    font-weight: 800;
    font-size: 18px;
}

.lg_10 {
    margin-left: 20px;
}